.Testimonials {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    
    
  }
  .info {
    display: flex;
    width: 40rem;
    height: 15rem;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
    border: 2px solid white;
    box-shadow: 10px 10px rgb(101, 96, 96);
    margin: 30px;
    border-radius: 10px;
}
    img {
      border-radius: 3rem;
      height: 3rem;
      width: 3rem;
    }
    .details span {
    
          font-size: 0.9rem;
        
    }
    .text{
      color: black !important;
    }
